<section class="">

<h2 class="">Azur Pay</h2>

<div>
<%= link_to "Log in", new_user_session_path, class: "log-in" %>
<%= link_to "Sign up", new_user_registration_path, class: "sign-up" %>
</div>

</section>